%pylab inline
%precision 6
%load_ext line_profiler
%load_ext autoreload
%autoreload 1

In [ ]:
import pandas as pd
import sklearn as skl
import json
import fasttext

In [ ]:
pd.options.display.max_colwidth=100
np.set_printoptions(linewidth=140,edgeitems=10)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
rcParams['figure.figsize'] = (8.0, 5.0)

In [ ]:
json_lines=[]

with open("tpc-dataset.train.txt",'r') as f:
    for line in f:
        json_lines.append(json.loads(line))

In [ ]:
len(json_lines)

In [ ]:
train_df=pd.DataFrame.from_dict(json_lines)

In [ ]:
train_df.head(3)

In [ ]:
np.random.seed(0)
df_t=train_df
df_t=df_t.sample(frac=1.0).reset_index(drop=True)

In [9]:
df_t.head(3)

     age education         id                                                                                                texts
0  18-24       NaN  899434020  [Это уже все? Или можно вернуть?, Владислав, а если розрабам написать?, Владислав, за 1200-рубле...
1    NaN      high  326894555  [Солнце, Форель, Велосипед, Конюхов, Лис, Сок, Ямы, Фингал, Низ, Мясо, Цари, Рог, Нора, Лоб, Нол...
2  18-24       NaN  703031018  [Aslan, девочки похлеще пацанов рубятся)), Кристина, я тебя лайкнул,почему ты до сих пор не моя?...

In [10]:
cleanup_nums = { "age":       {"<=17": 1, "18-24": 2, "25-34":3, "35-44":4, ">=45":5},
                 "education": {"low": 1, "middle": 2,"high": 3} }

In [11]:
df_t.replace(cleanup_nums, inplace=True)
df_t.education = df_t.education.fillna(0)

In [12]:
df_t.head(3)

   age education         id                                                                                                texts
0  2.0         0  899434020  [Это уже все? Или можно вернуть?, Владислав, а если розрабам написать?, Владислав, за 1200-рубле...
1  NaN         3  326894555  [Солнце, Форель, Велосипед, Конюхов, Лис, Сок, Ямы, Фингал, Низ, Мясо, Цари, Рог, Нора, Лоб, Нол...
2  2.0         0  703031018  [Aslan, девочки похлеще пацанов рубятся)), Кристина, я тебя лайкнул,почему ты до сих пор не моя?...

In [28]:
df_t.loc[:,'f'] = pd.Series(np.random.randn(len(df_t)), index=df_t.index)
for index, row in df_t.iterrows():
    df_t.at[index, 'f'] =len(df_t.at[index,'texts'])
    df_t.at[index,'text']=''.join(df_t.at[index,'texts'])

In [47]:
Z=df_t.drop(["id","education"],axis=1)
Z.head(3)

       y                                                                                                texts      f                                                                                                 text
0  18-24  [Это уже все? Или можно вернуть?, Владислав, а если розрабам написать?, Владислав, за 1200-рубле...   37.0  Это уже все? Или можно вернуть?Владислав, а если розрабам написать?Владислав, за 1200-рублейПпц,...
1    NaN  [Солнце, Форель, Велосипед, Конюхов, Лис, Сок, Ямы, Фингал, Низ, Мясо, Цари, Рог, Нора, Лоб, Нол...   33.0  СолнцеФорельВелосипедКонюховЛисСокЯмыФингалНизМясоЦариРогНораЛобНолик/ноликиИлСанкиСпар (на прав...
2  18-24  [Aslan, девочки похлеще пацанов рубятся)), Кристина, я тебя лайкнул,почему ты до сих пор не моя?...  303.0  Aslan, девочки похлеще пацанов рубятся))Кристина, я тебя лайкнул,почему ты до сих пор не моя?😕Па...

s = df_t.apply(lambda x: pd.Series(x['texts']),axis=1).stack().reset_index(level=1, drop=True)

s.name = 'text'
df_t.drop('texts', axis=1).join(s)
df_t = df_t.reset_index()

res = df_t.set_index(['age', 'education',"id"])['texts'].apply(pd.Series).stack()
res = res.reset_index()
res.columns = ['age','education',"id",'text_num','text']
Z = res.drop('text_num',axis=1)

for index, row in Z.iterrows():
    Z.set_value(index, 'text', Z['text'][index].lower()
                .replace('.', ' ')
                .replace(',', ' ')
                .replace(';', ' ')
                .replace(':', ' ')
                .replace('!', ' ')
                .replace('?', ' ')
                .replace('\r', ' ')
                .replace('\n', ' ')
               )

In [30]:
len(Z)

8607

In [31]:
Z.rename(columns={'age':'y'}, inplace=True)

In [32]:
Z.y

0       2.0
1       NaN
2       2.0
3       3.0
4       NaN
5       1.0
6       3.0
7       NaN
8       NaN
9       1.0
10      5.0
11      2.0
12      4.0
13      NaN
14      1.0
15      2.0
16      NaN
17      1.0
18      1.0
19      NaN
20      2.0
21      1.0
22      NaN
23      3.0
24      3.0
25      NaN
26      3.0
27      1.0
28      NaN
29      2.0
30      1.0
31      3.0
32      NaN
33      2.0
34      NaN
35      3.0
36      2.0
37      3.0
38      2.0
39      2.0
40      3.0
41      3.0
42      2.0
43      NaN
44      3.0
45      4.0
46      NaN
47      1.0
48      3.0
49      NaN
50      1.0
51      NaN
52      2.0
53      2.0
54      1.0
55      3.0
56      NaN
57      1.0
58      3.0
59      NaN
60      1.0
61      4.0
62      3.0
63      1.0
64      NaN
65      2.0
66      3.0
67      2.0
68      3.0
69      1.0
70      1.0
71      3.0
72      3.0
73      1.0
74      NaN
75      3.0
76      1.0
77      5.0
78      3.0
79      3.0
80      1.0
81      3.0
82      3.0
83      3.0
84      NaN
85      4.0
86      3.0
87      1.0
88      NaN
89      3.0
90      1.0
91      3.0
92      1.0
93      1.0
94      4.0
95      2.0
96      3.0
97      3.0
98      2.0
99      NaN
100     1.0
101     4.0
102     1.0
103     1.0
104     2.0
105     3.0
106     4.0
107     4.0
108     2.0
109     NaN
110     NaN
111     5.0
112     4.0
113     NaN
114     2.0
115     NaN
116     1.0
117     3.0
118     NaN
119     2.0
120     2.0
121     1.0
122     1.0
123     2.0
124     3.0
125     NaN
126     NaN
127     1.0
128     2.0
129     5.0
130     1.0
131     1.0
132     1.0
133     1.0
134     1.0
135     1.0
136     NaN
137     NaN
138     NaN
139     1.0
140     3.0
141     3.0
142     2.0
143     NaN
144     NaN
145     2.0
146     1.0
147     2.0
148     NaN
149     2.0
150     2.0
151     4.0
152     3.0
153     3.0
154     2.0
155     3.0
156     4.0
157     2.0
158     1.0
159     NaN
160     2.0
161     3.0
162     1.0
163     1.0
164     3.0
165     NaN
166     2.0
167     3.0
168     NaN
169     5.0
170     NaN
171     1.0
172     4.0
173     1.0
174     2.0
175     3.0
176     2.0
177     1.0
178     2.0
179     5.0
180     2.0
181     1.0
182     2.0
183     2.0
184     2.0
185     2.0
186     NaN
187     5.0
188     1.0
189     NaN
190     1.0
191     2.0
192     1.0
193     NaN
194     1.0
195     NaN
196     3.0
197     1.0
198     3.0
199     2.0
200     1.0
201     3.0
202     2.0
203     NaN
204     3.0
205     1.0
206     1.0
207     NaN
208     2.0
209     1.0
210     3.0
211     NaN
212     4.0
213     3.0
214     NaN
215     NaN
216     3.0
217     3.0
218     2.0
219     3.0
220     2.0
221     5.0
222     NaN
223     3.0
224     NaN
225     1.0
226     2.0
227     1.0
228     NaN
229     2.0
230     NaN
231     1.0
232     NaN
233     1.0
234     2.0
235     NaN
236     NaN
237     3.0
238     NaN
239     NaN
240     NaN
241     3.0
242     NaN
243     4.0
244     2.0
245     2.0
246     3.0
247     1.0
248     3.0
249     NaN
       ...
8357    3.0
8358    4.0
8359    5.0
8360    NaN
8361    3.0
8362    2.0
8363    NaN
8364    3.0
8365    2.0
8366    3.0
8367    NaN
8368    3.0
8369    2.0
8370    NaN
8371    2.0
8372    NaN
8373    1.0
8374    3.0
8375    4.0
8376    1.0
8377    4.0
8378    NaN
8379    3.0
8380    2.0
8381    NaN
8382    3.0
8383    5.0
8384    1.0
8385    NaN
8386    NaN
8387    NaN
8388    2.0
8389    1.0
8390    NaN
8391    4.0
8392    NaN
8393    1.0
8394    1.0
8395    3.0
8396    3.0
8397    3.0
8398    2.0
8399    2.0
8400    3.0
8401    3.0
8402    1.0
8403    NaN
8404    2.0
8405    1.0
8406    2.0
8407    3.0
8408    3.0
8409    2.0
8410    1.0
8411    2.0
8412    NaN
8413    4.0
8414    2.0
8415    3.0
8416    3.0
8417    3.0
8418    NaN
8419    1.0
8420    3.0
8421    2.0
8422    2.0
8423    2.0
8424    2.0
8425    1.0
8426    1.0
8427    3.0
8428    NaN
8429    1.0
8430    3.0
8431    1.0
8432    3.0
8433    1.0
8434    2.0
8435    2.0
8436    2.0
8437    1.0
8438    4.0
8439    1.0
8440    3.0
8441    NaN
8442    3.0
8443    3.0
8444    1.0
8445    2.0
8446    3.0
8447    3.0
8448    4.0
8449    4.0
8450    1.0
8451    2.0
8452    1.0
8453    NaN
8454    3.0
8455    2.0
8456    2.0
8457    1.0
8458    3.0
8459    4.0
8460    2.0
8461    NaN
8462    1.0
8463    NaN
8464    NaN
8465    1.0
8466    1.0
8467    5.0
8468    3.0
8469    2.0
8470    3.0
8471    3.0
8472    3.0
8473    3.0
8474    3.0
8475    3.0
8476    4.0
8477    1.0
8478    2.0
8479    3.0
8480    3.0
8481    4.0
8482    1.0
8483    5.0
8484    3.0
8485    3.0
8486    4.0
8487    3.0
8488    1.0
8489    1.0
8490    2.0
8491    1.0
8492    1.0
8493    NaN
8494    NaN
8495    2.0
8496    NaN
8497    NaN
8498    NaN
8499    1.0
8500    NaN
8501    1.0
8502    1.0
8503    1.0
8504    3.0
8505    2.0
8506    NaN
8507    1.0
8508    3.0
8509    2.0
8510    1.0
8511    NaN
8512    NaN
8513    1.0
8514    3.0
8515    3.0
8516    1.0
8517    NaN
8518    NaN
8519    NaN
8520    3.0
8521    4.0
8522    1.0
8523    NaN
8524    2.0
8525    NaN
8526    NaN
8527    1.0
8528    NaN
8529    1.0
8530    1.0
8531    1.0
8532    2.0
8533    NaN
8534    2.0
8535    4.0
8536    2.0
8537    1.0
8538    3.0
8539    3.0
8540    NaN
8541    NaN
8542    NaN
8543    4.0
8544    1.0
8545    1.0
8546    2.0
8547    NaN
8548    2.0
8549    1.0
8550    NaN
8551    5.0
8552    2.0
8553    NaN
8554    1.0
8555    4.0
8556    3.0
8557    2.0
8558    2.0
8559    NaN
8560    1.0
8561    3.0
8562    3.0
8563    1.0
8564    2.0
8565    2.0
8566    NaN
8567    1.0
8568    3.0
8569    NaN
8570    2.0
8571    2.0
8572    NaN
8573    2.0
8574    1.0
8575    1.0
8576    NaN
8577    2.0
8578    3.0
8579    4.0
8580    1.0
8581    NaN
8582    2.0
8583    NaN
8584    4.0
8585    3.0
8586    NaN
8587    2.0
8588    2.0
8589    2.0
8590    1.0
8591    NaN
8592    3.0
8593    2.0
8594    4.0
8595    NaN
8596    2.0
8597    2.0
8598    3.0
8599    1.0
8600    NaN
8601    3.0
8602    1.0
8603    NaN
8604    3.0
8605    1.0
8606    3.0
Name: y, Length: 8607, dtype: float64

In [33]:
train_sels = ~isnan(Z.y)
test_sels = isnan(Z.y)

train_inds = find(train_sels)
test_inds = find(test_sels)

del train_sels, test_sels

In [34]:
corpus = Z.text

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = TfidfVectorizer(min_df=1)
X = vectorizer.fit_transform(corpus)

Y=Z.y.values

In [35]:
X.shape[0], len(Y)

(8607, 8607)

In [37]:
# Initialize the Random Forest or bagged tree based the model chosen
from sklearn.ensemble import RandomForestClassifier as RFC
rfc = RFC(n_estimators = 100, oob_score = True, max_features = "auto")
print ("Training %s" % ("Random Forest"))
rfc = rfc.fit(X[train_inds], Y[train_inds])
print ("OOB Score =", rfc.oob_score_)
pred = rfc.predict(X[test_inds])

Training Random Forest
OOB Score = 0.463456712673

In [44]:
cleanup_nums = {"age":{ 1:"<=17", 2:"18-24", 3:"25-34", 4:"35-44", 5:">=45"}}

In [45]:
output = pd.DataFrame(data = {"id":test_inds , "age": pred})
output.replace(cleanup_nums, inplace=True)
output.to_csv("submission.csv", index=False)

In [ ]:
import sklearn
from sklearn import svm

In [ ]:
param_grid = {'C': [0.1, 1, 10, 100]}

clf = sklearn.model_selection.GridSearchCV(sklearn.svm.LinearSVC() ,param_grid, n_jobs=-1) # use n_jobs=1 here if have insufficient memory
clf.fit(X[train_inds], Y[train_inds])

In [ ]:
clf.best_params_

In [ ]:
Y_hat = clf.predict(X[test_inds])

In [ ]:
content = concatenate([Z['id'][test_inds].values[:,newaxis], Y_hat[:,newaxis]],axis=1)
content.shape

In [ ]:
solution = pd.DataFrame( content, columns = ['ReviewId', 'Score'], dtype=int)

In [ ]:
solution.head()

In [ ]:
solution.to_csv('d1 solution.csv',index=False)

In [ ]:
model100=fasttext.load_model("fasttext100.bin")